.about-section {
  @media (max-width: 1200px) {
    margin-block: 50px;
  }

  .container {
    display: flex;
    align-items: center;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-family: var(--katerina);
    font-size: 26px;
    font-weight: 400;
    color: hsl(var(--clr-black));
    text-transform: uppercase;

    @media (max-width: 1200px) {
      text-align: center;
    }
  }

  &__desc {
    margin-bottom: 50px;
    font-family: var(--firaGo);
    font-size: 16px;
    color: hsl(0 0% 49%);

    @media (max-width: 1200px) {
      margin-bottom: 20px;
    }
  }

  &__decor {
    margin-left: 60px;

    @media (max-width: 1200px) {
      margin-left: 0;
    }
  }

  &__img {
    flex: 1 0 529px;

    @media (max-width: 1200px) {
      flex: unset;
    }
  }
}

.about {
  margin-block: 50px 90px;

  &__title {
    margin-bottom: 30px;
    font-family: var(--katerina);
    font-size: 26px;
    font-weight: 400;
    color: hsl(var(--clr-black));
    text-transform: uppercase;

    @media (max-width: 1200px) {
      text-align: center;
    }
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 50px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    &:first-child {
      margin-bottom: 50px;

      @media (max-width: 1200px) {
        flex-direction: column-reverse;
      }

      img {
        flex: 1 0 529px;
        height: auto;
        object-fit: cover;

        @media (max-width: 1200px) {
          flex: 1 0 400px;
        }
      }
    }

    &:nth-child(2) {
      img {
        flex: 1 0 490px;
        height: auto;
        object-fit: cover;

        @media (max-width: 1200px) {
          flex: 1 0 400px;
        }
      }
    }
  }

  & > div > div > * + * {
    margin-top: 30px;
  }

  p {
    font-size: 16px;
    color: hsl(var(--clr-black));
  }
}
