.blog {
  margin-top: 46px;
  margin-bottom: 50px;

  &__title {
    margin-bottom: 30px;
    font-family: var(--katerina);
    font-size: 30px;
    font-weight: 400;
    color: hsl(var(--clr-black));
    text-transform: uppercase;
    text-align: center;
  }

  &__navigation {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.blog-article {
  &__link {
    &:hover {
      img {
        transform: scale(1.05);
      }

      .blog-article__title {
        color: hsl(var(--clr-accent));
        // color: #e5003e;
      }
    }
  }

  &__img {
    position: relative;
    // height: 420px;
    // width: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 150ms ease-in-out;
    }
  }

  &__timestamp {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 77px;
    height: 70px;
    display: grid;
    place-content: center;
    color: hsl(var(--clr-white));
    background-color: hsl(43 68% 64%);
    z-index: 2;

    time {
      font-family: var(--extrasquareMtavruli);
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__content {
    padding: 20px 18px 40px;
    border: 1px solid hsl(0 1% 85%);
    border-top: none;
    border-radius: 0 0 3px 3px;
  }

  &__title {
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 500;
    color: hsl(var(--clr-black));
    transition: color 150ms ease-in-out;
  }

  &__preview {
    font-size: 16px;
    color: hsl(0 0% 47%);
  }
}

.swiper-next,
.swiper-prev {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 30px;
  display: grid;
  place-content: center;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-accent));
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: hsl(var(--clr-black));
  }
}

.blog-grid {
  margin-block: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 40px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
