@font-face {
	font-family: extrasquaremtavruli;
	font-display: swap;
	src: url('../fonts/extrasquaremtavruli.woff2') format('woff2'), url('../fonts/extrasquaremtavruli.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dmgiorgihorguashvili;
	font-display: swap;
	src: url('../fonts/dmgiorgihorguashvili-regular.woff2') format('woff2'), url('../fonts/dmgiorgihorguashvili-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: katerina;
	font-display: swap;
	src: url('../fonts/katerina-regular.woff2') format('woff2'), url('../fonts/katerina-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: FiraGO;
	font-display: swap;
	src: url('../fonts/FiraGO-UltraLight.woff2') format('woff2'), url('../fonts/FiraGO-UltraLight.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: FiraGO;
	font-display: swap;
	src: url('../fonts/FiraGO-Medium.woff2') format('woff2'), url('../fonts/FiraGO-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: FiraGO;
	font-display: swap;
	src: url('../fonts/FiraGO-Regular.woff2') format('woff2'), url('../fonts/FiraGO-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: mrgvlovani;
	font-display: swap;
	src: url('../fonts/mrgvlovani.woff2') format('woff2'), url('../fonts/mrgvlovani.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: mrgvlovaniCaps;
	font-display: swap;
	src: url('../fonts/mrgvlovaniCaps.woff2') format('woff2'), url('../fonts/mrgvlovaniCaps.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
