:root {
  // Colors
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;
  --clr-accent: 50 31% 55%;

  // Fonts
  --mrgvlovaniCaps: mrgvlovaniCaps;
  --mrgvlovani: mrgvlovani;
  --extrasquareMtavruli: extrasquaremtavruli;
  --firaGo: FiraGO;
  --katerina: katerina;
  --dmGiorgiKhorguashvili: dmgiorgihorguashvili;
}
